@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

* {
    font-family: "Karla", sans-serif;
}

body {
    padding-bottom: 50px;
}

html {
    scroll-behavior: smooth;
}

textarea {
    width: 90%;

    height: 200px;
}